body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 38px;
	line-height: 1.5em;
	color: #A1B2B3;
}
a, a:link {
	color: #00D9D9;
	text-decoration: none;
	outline: none;
	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
	-ms-transition: color 500ms ease-in;
	transition: color 500ms ease-in;
}
a:visited {
	color: #00D9D9;
	text-decoration: none;
	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
	-ms-transition: color 500ms ease-in;
	transition: color 500ms ease-in;
}
a:hover {
	color: #A1B2B3;
	text-decoration: none;
	-webkit-transition: color 500ms ease-out;
	-moz-transition: color 500ms ease-out;
	-o-transition: color 500ms ease-out;
	-ms-transition: color 500ms ease-out;
	transition: color 500ms ease-out;
}
a:active {
	color: #A1B2B3;
	text-decoration: none;
	-webkit-transition: color 500ms ease-out;
	-moz-transition: color 500ms ease-out;
	-o-transition: color 500ms ease-out;
	-ms-transition: color 500ms ease-out;
	transition: color 500ms ease-out;
}
img {
	border: 0px;
	max-width: 100%;
	height: auto;
}
li, ul {
	list-style: square;
}
.blue, a.blue:link, a.blue:visited {
	color: #00D9D9;
	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
	-ms-transition: color 500ms ease-in;
	transition: color 500ms ease-in;
}
a.blue:hover, a.blue:active {
	color: #A1B2B3;
	-webkit-transition: color 500ms ease-out;
	-moz-transition: color 500ms ease-out;
	-o-transition: color 500ms ease-out;
	-ms-transition: color 500ms ease-out;
	transition: color 500ms ease-out;
}
.green, a.green:link, a.green:visited {
	color: #77CC33;
	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
	-ms-transition: color 500ms ease-in;
	transition: color 500ms ease-in;
}
a.green:hover, a.green:active {
	color: #A1B2B3;
	-webkit-transition: color 500ms ease-out;
	-moz-transition: color 500ms ease-out;
	-o-transition: color 500ms ease-out;
	-ms-transition: color 500ms ease-out;
	transition: color 500ms ease-out;
}
.orange, a.orange:link, a.orange:visited {
	color: #FFB70D;
	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
	-ms-transition: color 500ms ease-in;
	transition: color 500ms ease-in;
}
a.orange:hover, a.orange:active {
	color: #A1B2B3;
	-webkit-transition: color 500ms ease-out;
	-moz-transition: color 500ms ease-out;
	-o-transition: color 500ms ease-out;
	-ms-transition: color 500ms ease-out;
	transition: color 500ms ease-out;
}
.pink, a.pink:link, a.pink:visited {
	color: #FF0099;
	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
	-ms-transition: color 500ms ease-in;
	transition: color 500ms ease-in;
}
a.pink:hover, a.pink:active {
	color: #A1B2B3;
	-webkit-transition: color 500ms ease-out;
	-moz-transition: color 500ms ease-out;
	-o-transition: color 500ms ease-out;
	-ms-transition: color 500ms ease-out;
	transition: color 500ms ease-out;
}
.purple, a.purple:link, a.purple:visited {
	color: #B76AFF;
	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
	-ms-transition: color 500ms ease-in;
	transition: color 500ms ease-in;
}
a.purple:hover, a.purple:active {
	color: #A1B2B3;
	-webkit-transition: color 500ms ease-out;
	-moz-transition: color 500ms ease-out;
	-o-transition: color 500ms ease-out;
	-ms-transition: color 500ms ease-out;
	transition: color 500ms ease-out;
}
article {
	background: #FFFFFF;
	font-size: 48px;
	line-height: 1.5em;
	color: #A1B2B3;
	padding: 25px;
	margin: 50px auto 50px auto;
	width: 800px;
}
@media screen and (max-width: 900px) {
article {
	font-size: 38px;
	line-height: 1.5em;
	padding: 25px;
	margin: 25px;
	width: auto;
}
}
::selection {
	background: #00D9D9;
	color: #FFFFFF; /* Chrome */
}
::-moz-selection {
	background: #00D9D9;
	color: #FFFFFF; /* Firefox */
}